Repository deutsche-nationalbibliothek/pica-rs, pull requests merged in 2023-02, with the labels that each got.

#588 Extend documentation of `filter` command
  README.md
Labels: documentation, C-filter

#590 Stabilize `slice` command
  CHANGELOG.md
  README.md
  src/bin/pica/commands/slice.rs
  src/bin/pica/main.rs
  tests/pica/mod.rs
  tests/pica/slice.rs
  tests/snapshot.rs
  tests/snapshot/slice/000-slice-default.in/dump.dat.gz
  tests/snapshot/slice/000-slice-default.out/slice.dat
  tests/snapshot/slice/000-slice-default.toml
  tests/snapshot/slice/001-slice-start.in/dump.dat.gz
  tests/snapshot/slice/001-slice-start.out/slice.dat
  tests/snapshot/slice/001-slice-start.toml
  tests/snapshot/slice/002-slice-end.in/dump.dat.gz
  tests/snapshot/slice/002-slice-end.out/slice.dat
  tests/snapshot/slice/002-slice-end.toml
  tests/snapshot/slice/003-slice-length.in/dump.dat.gz
  tests/snapshot/slice/003-slice-length.out/slice.dat
  tests/snapshot/slice/003-slice-length.toml
  tests/snapshot/slice/004-slice-start-end.in/dump.dat.gz
  tests/snapshot/slice/004-slice-start-end.out/slice.dat
  tests/snapshot/slice/004-slice-start-end.toml
  tests/snapshot/slice/005-slice-start-length.in/dump.dat.gz
  tests/snapshot/slice/005-slice-start-length.out/slice.dat
  tests/snapshot/slice/005-slice-start-length.toml
  tests/snapshot/slice/006-slice-end-less-than-start.in/dump.dat.gz
  tests/snapshot/slice/006-slice-end-less-than-start.toml
  tests/snapshot/slice/007-slice-skip-invalid-flag.stdin
  tests/snapshot/slice/007-slice-skip-invalid-flag.toml
  tests/snapshot/slice/008-slice-skip-invalid-config1.in/Pica.toml
  tests/snapshot/slice/008-slice-skip-invalid-config1.stdin
  tests/snapshot/slice/008-slice-skip-invalid-config1.toml
  tests/snapshot/slice/009-slice-skip-invalid-config2.in/Pica.toml
  tests/snapshot/slice/009-slice-skip-invalid-config2.stdin
  tests/snapshot/slice/009-slice-skip-invalid-config2.toml
  tests/snapshot/slice/010-slice-skip-invalid-config3.in/Pica.toml
  tests/snapshot/slice/010-slice-skip-invalid-config3.stdin
  tests/snapshot/slice/010-slice-skip-invalid-config3.toml
  tests/snapshot/slice/011-slice-skip-invalid-config4.in/Pica.toml
  tests/snapshot/slice/011-slice-skip-invalid-config4.stdin
  tests/snapshot/slice/011-slice-skip-invalid-config4.toml
  tests/snapshot/slice/012-slice-gzip-output.in/dump.dat.gz
  tests/snapshot/slice/012-slice-gzip-output.out/slice.dat
  tests/snapshot/slice/012-slice-gzip-output.toml
  tests/snapshot/slice/013-slice-append-output.in/dump.dat.gz
  tests/snapshot/slice/013-slice-append-output.in/slice.dat
  tests/snapshot/slice/013-slice-append-output.out/slice.dat
  tests/snapshot/slice/013-slice-append-output.toml
Labels: C-slice

#593 Add `--seed` option to `sample` command
  CHANGELOG.md
  src/bin/pica/commands/sample.rs
  tests/snapshot/sample/564-sample-seed-rng.in/dump.dat.gz
  tests/snapshot/sample/564-sample-seed-rng.out/samples.dat
  tests/snapshot/sample/564-sample-seed-rng.toml
Labels: enhancement, C-sample

#596 Add set-builder notation for path expressions
  README.md
  pica-path/src/lib.rs
  pica-path/tests/path.rs
  tests/snapshot/frequency/026-frequency-subfield-matcher-set-builder.in/dump.dat.gz
  tests/snapshot/frequency/026-frequency-subfield-matcher-set-builder.toml
Labels: enhancement
